:root {
  --photo-min-width: 300px;
  --photo-max-width: 600px;
  --photo-height: 400px;
  --slide-pagination-dot-width: 10px;
  --slide-pagination-dot-height: 10px;
  --slide-pagination-dot-inactive-color: #000;
  --slide-pagination-dot-inactive-opacity: 0.2;
}

html {
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

h1 {
  margin-top: 0;
  text-align: center;
}

.slide-container {
  overflow: hidden;
  position: relative;
  left: 50%;
  /* 이미지 사이즈 조절 */
  min-width: var(--photo-min-width);
  max-width: var(--photo-max-width);
  height: var(--photo-height);
  border-radius: 5px;
  transform: translateX(-50%);
}

.slide-images {
  display: flex;
  /* position: relative; */
  height: 100%;
  transition: transform 300ms ease;
}

/* canvas {
  min-width: 100%;
  border-radius: 5px;
  backface-visibility: hidden;
} */

img {
  min-width: 100%;
  border-radius: 5px;
  /* image flickering 방지 */
  backface-visibility: hidden;
  /* height는 자동조절되므로 정렬 필요없음. */
  /* 언론사라 이미지가 짤리는걸 싫어하지 않을지? */
  /* object-fit: cover; */
}

/* .slide-active {
  animation-name: slideIn;
  animation-duration: 300ms;
  animation-iteration-count: infinite;
} */

.slide-arrow {
  position: absolute;
  width: 3rem;
  height: 3rem;
  /* margin: auto; */
  border: none;
  border-radius: 50%;
  background: none;
  /* background-color: black; */
  color: rgba(255, 255, 255, 1);
  font-size: 2rem;
  z-index: 2;
  cursor: pointer;
  animation-name: fadeOut;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.slide-arrow:hover {
  animation: fadeIn 0s 1 0s;
}

.slide-arrow__left {
  top: 50%;
  left: 5%;
  transform: translate(-50%, -50%);
}

.slide-arrow__right {
  top: 50%;
  left: 95%;
  transform: translate(-50%, -50%);
}

div.slide-page-number {
  position: relative;
  margin: 0px auto;
}

.slide-page-number__content {
  display: flex;
  white-space: nowrap;
  position: absolute;
  right: 10px;
  bottom: 20px;
  width: 50px;
  height: 20px;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.15);
  color: white;
  font-size: 12px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

/* @keyframes slideIn {
  from {
    transform: translateX(-300%);
  }
  to {
    transform: translateX(-700%);
  }
} */

.slide-pagination {
  overflow: hidden;
  position: absolute;
  left: 50%;
  /* bottom: 5%; */
  width: 90px;
  white-space: nowrap;
  transform: translateX(-50%);
  z-index: 5;
}

.slide-pagination__dot {
  /* width, height적용 */
  display: inline-block;
  /* left적용위함 */
  position: relative;
  left: 36px;
  width: var(--slide-pagination-dot-width);
  height: var(--slide-pagination-dot-height);
  margin: 0px 4px;
  border-radius: 50%;
  background: var(--slide-pagination-dot-inactive-color);
  /* cursor: pointer; */
  opacity: var(--slide-pagination-dot-inactive-opacity);
  transform: scale(0.50);
  transition: .2s transform, .1s left;
}

.slide-pagination__dot--prev--prev {
  transform: scale(.50);
}

.slide-pagination__dot--prev {
  transform: scale(.75);
}

.slide-pagination__dot--active {
  background-color: skyblue;
  opacity: 1;
  transform: scale(1);
}

.slide-pagination__dot--next {
  transform: scale(.75);
}

.slide-pagination__dot--next--next {
  transform: scale(.50);
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }  
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

/* @media only screen and (max-width:768px) {
  .slide-arrow {
    visibility: hidden;
  }
} */

/* touch시 slide-arrow hide */
@media (pointer:coarse) {
  .slide-arrow {
    visibility: hidden;
  }
}